branch_atms.html<ion-view view-title="ATM and branch finder" id="branchATMView">
    <ion-content>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Search location">
                </label>
                <button class="button button-icon ion-pinpoint"></button>
                <button class="button button-icon fa fa-list"></button>
            </div>
            <div class="button-bar">
                <a class="button" href="#/app/branchatms">Both</a>
                <a class="button active" href="#/app/branchatms2">ATM</a>
                <a class="button " href="#/app/branchatms3">Branch</a>
            </div>
        </div>
        <div class="img atm"></div>
    </ion-content>
</ion-view>