<ion-view view-title="Alerts and Notifications" class="accountsForm" id="notificationsView">
    <ion-content has-bouncing="true">
        <div class="list level0">
            <ndb-accounts dir="from" info="yes" accounts="accounts" meta="metadata" tab="getReceiverType()" ></ndb-accounts>

            <div class="header-info">All alerts will be sent via SMS to phone number : <strong>0771 234 567</strong> <span><a href="#">change number</a></span></div>

            <div class="list alert-settings">
                <a class="item item-icon-right" href="#/app/weeklybalance">
                    <span class="account-name title margintop15">Weekly balance</span>
                    <span class="account-number description">Balance sent every <strong>Friday Morning</strong></span>
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-right" href="#/app/limitalert">
                    <span class="account-name title margintop15">Limit alert</span>
                    <span class="account-number description">When your balance goes <strong>below &pound;20</strong></span>
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-right" href="#/app/transalert">
                    <span class="account-name title margintop5">Transactions alert</span>
                    <span class="account-number description">When a transaction above <strong>&pound;400</strong> goes <strong>in</strong></span>
                    <span class="account-number description">When a transaction above <strong>&pound;1500</strong> goes <strong>out</strong></span>
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-right" href="">
                    <span class="account-name title margintop5">Update in services</span>
                    <span class="account-number description"><p>We will let you know when we make changes to your account or app</p></span>
                    <i class="icon ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>