<ion-view view-title="Payments & Transfers" id="paymentsView">
    <ion-content has-bouncing="true">

        <div class="list level0">
            <ndb-accounts dir="from" accounts="accounts" meta="metadata" tab="getReceiverType()" ></ndb-accounts>
        </div>
        <div class="list level1">

            <div class="button-bar">
                <a class="button" ng-click="setReceiverType(0);" ng-class="{'active' : payment.receivertype == 0 }">Your accounts</a>
                <a class="button" ng-click="setReceiverType(1);" ng-class="{'active' : payment.receivertype == 1 }">Person or bill</a>
            </div>

            <ndb-accounts class="slide" dir="to" accounts="accounts" meta="metadata" tab="getReceiverType()" ng-class="{'in' : getReceiverType() == 0}"></ndb-accounts>

            <a class="item item-person slide" href="#" ng-show="getReceiverType() == 1" ng-class="{'in' : getReceiverType() == 1}">
                <div class="list">
                    <label class="item-recipient"> To <button ng-click="gotoRecipient();">Add <i class="ion-plus"></i> </button> </label>
                    <label class="item  item-input item-select">
                        <select>
                            <option value="1">Please select</option>
                        </select>
                    </label>
                </div>
            </a>

        </div>
        <div class="list level3">
            <label class="item item-input">
                <span class="input-label">Amount:</span>
                <input type="tel" ng-model="payment.amount">
            </label>
        </div>

        <div class="list level4">
            <span class="date">
                When would you like your payment or transfer to go out?
            </span>
        </div>

        <div class="list level5">
            <div>
                <input type="radio" name="group">Now
            </div>
            <div>
                <input type="radio" name="group">Date <i class="fa fa-calendar"></i>
            </div>
        </div>
        <div class="padding20 ">
            <a class="button button-block register-button" href="#/app/confirmpayment">Continue</a>
        </div>
    </ion-content>
</ion-view>