<ion-view view-title="Personal details" id="personalView">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left item-name">
                <i class="icon fa fa-user"></i>
                Emma Bulmer
            </a>
            <a class="item item-icon-right item-address">
                <i class=" icon-band fa fa-building"></i>
                <strong>Address</strong>
                <label>1 Nudge Road</label>
                <label>Bristol</label>
                <label>B99 999</label>
            </a>
            <a class="item  item-icon-right item-address">
                <i class="icon-band"></i>

                How can I update my address
                <i class="icon ion-chevron-right"></i>

            </a>
            <a class="item item-icon-right item-mobile">
                <i class="icon-band fa fa-mobile-phone"></i>
                <strong>Mobile</strong>
                <span>+44 7986***367</span>
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-email item-icon-right">
                <i class="icon-band fa fa-envelope"></i>
                <strong>Email address</strong>
                <span>emma@outlook.com</span>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>

        <div class="button-bar twin-button">
            <a class="button button-block register-button padding20" ng-href="#/app/settings">Back</a>
            <a class="button button-block register-button padding20" ng-href="#/app/settings">Confirm</a>
        </div>
    </ion-content>
</ion-view>