<ion-view id="recipient" class="registerViewStep" view-title="Add a new recipient">
    <ion-content has-bouncing="true">
        <div class="info">
            <div class="img"></div>
            <div class="button-bar twin-button">
                <a class="button button-block register-button padding20" ng-click="">Back</a>
                <a class="button button-block register-button padding20" ng-click="">Confirm</a>
            </div>

        </div>

    </ion-content>
</ion-view>