<ion-view hide-nav-bar="true" id="registerHomeView" class="registerViewStep">
    <ion-content has-bouncing="true">
        <div class="register-head-home"></div>
        <div class="info">
            <span class="home">Register your device</span>
            <span class="home">to start banking on the move</span>
            <span class="home">Device registration will create a secure link between your account and your device.</span>

            <div class="list list-inset register-form">
                <label class="item item-input">
                    Please enter your account details <div><i class="ion-information"></i></div>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Account number">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Bank branch number">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="gotoStep(1)">Continue</button>
            </div>

        </div>

    </ion-content>
</ion-view>