<ion-view view-title="Select account" id="selectAccountView" class="accountsForm">
    <ion-content has-bouncing="true">
        <span class="form-header">
            You are depositing <strong>{{ payment.deposit | money }}</strong>
            <p>Please select the account you would like to deposit your check into:</p>
        </span>
        <div class="list level0">
            <ndb-accounts dir="from" info="yes" accounts="accounts" meta="metadata" tab="getReceiverType()" ></ndb-accounts>
        </div>

        <div class="button-bar twin-button">
            <a class="button button-block register-button padding20" ng-href="#/app/checkdeposit">Back</a>
            <a class="button button-block register-button padding20" ng-href="#/app/confirmdeposit">Continue</a>
        </div>
    </ion-content>
</ion-view>