<a class="item item-icon-left item-icon-right accounts-panel" on-swipe-left="switchAccount('left')" on-swipe-right="switchAccount('right')">
    <i class="icon ion-chevron-left" ng-click="switchAccount('left')"></i>

    <div class="account-pane" ng-repeat="account in accounts" ng-show="active['from'] == $index" ng-class="{'account-show' : active['from'] == $index}">
        <span class="lblfrom">From</span>
        <span class="account-name">{{ account.name }}</span>
        <span class="account-number">{{ account.number }}</span>

        <span class="account-balance">{{ account.balance | money }}</span>
        <span class="account-available">Available: {{ account.available | money }}</span>
    </div>

    <div class="account-indicators">
        <span class="indicator" ng-class="{'active' : active['from'] == $index }" ng-repeat="step in steps"><i class="ion-record"></i></span>
    </div>

    <i class="icon ion-chevron-right" ng-click="switchAccount('right')"></i>
</a>
