#settingsView {
  .scroll-content {
    top: 61px;
    @extend .border-top-yellow;
    @extend .has-advert-footer;

    .list {
      .item {
        height: 84px;
        margin-top: 8px;
        margin-bottom: 5px;
        padding-right: 42px;
        padding-top: 13px;

        &:nth-child(1) {

        }
        &:nth-child(2) {
          padding-top: 30px;
        }
        &:nth-child(3) {

        }

        span {
          display: block;
          &.settings-name {
            color: $application_main_color;
            font-size: em(17);
            font-family: latobold;
          }
        }
        .settings-summary {
          white-space: normal;
          font-size: em(16);
          color: black;
          font-family: Helvetica;
        }
      }
    }
  }

  .bar-footer {
    @extend .app-footer;
  }
}

#personalView {
  .scroll-content {

    .list {

      .item {
        height: 60px;
        padding: 10px 0 0 60px;
        border: 1px solid $form-background-color;

        .fa {
          &:before {
            font-size: 24px;
          }
        }

        &.item-name {
          @include background($form-background-color);
          padding-top: 19px;
          font-size: 19px;
          font-family: latobold;

          .fa {
            &:before {
              color: $application_main_color;
              left: -3px;
              position: relative;
            }
          }
        }

        &.item-address {
          height: 100px;
          strong {
            font-family: latobold;
            color: $application_main_color;
            display: block;
            font-size: em(15);
          }

          label {
            display: block;
            font-family: Helvetica;
            font-size: em(15);
          }

          &:nth-child(3) {
            padding: 15px 0 0 60px;
            border-top: 1px solid $form-background-color;
            height: 60px;
            margin-bottom: 10px;
            div {
              display: block;
              height: 100%;
              width: 100%;
              left: -10px;
            }
          }
        }

        &.item-mobile {
          margin-bottom: 10px;
          strong {
            color: $application_main_color;
            display: block;
            font-size: em(15);
          }
          span {
            display: block;
            font-family: Helvetica;
            font-size: em(15);
          }

          .fa {
            &:before {
              font-size: 36px;
            }
          }

        }

        &.item-email {
          strong {
            color: $application_main_color;
            display: block;
            font-size: em(15);
          }
          span {
            display: block;
            font-family: Helvetica;
            font-size: em(15);
          }
        }

        .icon-band {
          left: 0;
          margin-left: 0;
        }
      }
    }
  }
}